@media (max-width: 1000px) {
    
    .tagline span {
        display:none;
    }
    
    .container > header, .container > section, .container > footer {
        padding:0;
    }
    
    .container > section {
        padding-bottom:0em;
    }

}

@media (max-width: 720px) {
    
    .blog-cover {
        display:none;
    }

    .article-cover {
        display:none;
    }
        

    .site-nav #navigation {
        margin: 0 10%;
    }

    
    article {
        padding-top:30px;
        
        .container > header, .container > section, .container > footer {
            margin: 0 10%;
            padding:0;
        }

        .title {
            font-size:2em;
            margin-bottom: 1em;
        }
        
        .container > footer {
            margin-top:5em;
            padding:3em 0;
            margin-bottom:3em;
        }
        
        .full, pre {
            margin:1em 0;
        }
        
        pre {
            padding:1em;
        }
        
        blockquote {
            margin:1em 0;
            
            p {
                font-size:1em;
            }
        }
        
        h1 {
            font-size:1.8em;
        }
        
        h2 {
            font-size:1.4em;
        }
        
        p {
            font-size:0.9em;
        }
    }
            
    .site-footer {
        margin-top:0;
        padding:2em 10%;
        text-align:center;
        
        nav {
            display:block;
            float:none !important;
            padding:1em;
        }
    }
    
    .index {
        padding:0;
        margin:0 10%;
        margin-bottom: 0.5em;
        
        > div {
            margin:0;
        }
        
        img {
            display:none;
        }
    }
}
