/* CONFIGURATION */

/* Title font */
$font-title: "Inter";

/* Bodytext font */
$font: "Inter", "sans-serif";

/* Font for headings */
$fontheadings: "Inter", "sans-serif";

/* Text colors */
$text: #000 !default;
$textmuted: #848484;
$accent: #2077b2;


/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "syntax";
@import "icons";
@import "responsive";
