[Unit]
Description=Receive web-hook to update deeeet-com container

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service

[Service]
# Let the process take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Restart policy
Restart=always
RestartSec=5

# Start
ExecStartPre=-/usr/bin/docker kill deeeet-com-hook
ExecStartPre=-/usr/bin/docker rm deeeet-com-hook
ExecStartPre=/usr/bin/docker pull tcnksm/deeeet-com-hook:1.0
ExecStart=/usr/bin/docker run --net=host --name deeeet-com-hook tcnksm/deeeet-com-hook:1.0
ExecStop=/usr/bin/docker stop deeeet-com-hook

[X-Fleet]
# Set MachineID which is registered DNSimple
MachineMetadata=role=lb
