{{ partial "header.html" . }}
<section class="site-nav">
  <header>
    <nav id="navigation">
    </nav>        
  </header>
</section>
<article>
  <div class="container">
    <header>
      <h1 class="title">{{ .Title }}</h1>
      <div class="meta">
        by <a href="https://twitter.com/{{ .Site.Params.twitter }}">{{ .Site.Author.name }}</a>, <time pubdate datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time> 
      </div>      
    </header>
    
    <section>
      {{ .Content }}
      {{ partial "_social.html" . }}
    </section>

    {{ partial "footer.html" . }}
    
  </div>
</article>

{{ partial "_scripts.html" . }}
