[Unit]
Description=Heapster Agent Service

# Requirements
After=docker.service
After=heapster-buddy.service

# Dependency ordering
Requires=docker.service
Requires=heapster-buddy.service

[Service]
# Let the process take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove work correctly.
KillMode=none

# Restart policy
Restart=always

ExecStartPre=-/usr/bin/docker kill heapster
ExecStartPre=-/usr/bin/docker rm -f heapster
ExecStartPre=/usr/bin/docker pull vish/heapster
ExecStart=/usr/bin/docker run --name heapster --net host -e INFLUXDB_HOST=127.0.0.1:8086 -v /home/core/heapster:/var/run/heapster vish/heapster
ExecStop=/usr/bin/docker stop -t 2 heapster

[X-Fleet]
MachineOf=heapster-buddy.service