<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Hatena::Bookmark" content="nocomment" />
    
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    
    <link href="https://fonts.googleapis.com/css?family={{ $.Site.Params.google_font }}" rel="stylesheet" type="text/css">
    {{ if isset .Params "en" }}<link rel="stylesheet" href="/css/en/main.css">{{ else }}<link rel="stylesheet" href="/css/main.css">{{ end }}
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link href="{{ .Site.BaseURL }}/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Params.inc.title }}" />
    <meta name="title" content="{{ .Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}">
    
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
    <meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:description" content="{{ with .Description -}}{{ . }}{{ else -}}{{ if .IsPage }}{{ substr .Summary 0 300 }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>
    {{ if isset .Params "thumbnail" }}<meta property="og:image" content="{{ .Params.thumbnail }}"/>{{ end -}}
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />

  </head>
  
  <body>
    <section class="site-nav">
      <header>
        <nav id="navigation">
          <a class="name" href="/">SOTA</a>
        </nav>        
      </header>
    </section>
    
