[Unit]
Description=deeeet.com on port %i etcd registration

# Requirements
Requires=etcd.service
Requires=deeeet-com@%i.service

# Dependency ordering and binding
After=etcd.service
After=deeeet-com@%i.service
BindsTo=deeeet-com@%i.service

[Service]
# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Test whether service is accessible and then register useful information
ExecStart=/bin/bash -c '\
    while true; do \
        curl -f ${COREOS_PRIVATE_IPV4}:%i; \
        if [ $? -eq 0 ]; then \
            etcdctl set /services/deeeet-com/${COREOS_PRIVATE_IPV4} \'${COREOS_PRIVATE_IPV4}:%i\' --ttl 30; \
        else \
            etcdctl rm /services/deeeet-com/${COREOS_PRIVATE_IPV4}; \
        fi; \
        sleep 20; \
    done'
ExecStop=/usr/bin/etcdctl rm /services/deeeet-com/${COREOS_PRIVATE_IPV4}

[X-Fleet]
# Schedule on the same machine as the associated Apache service
MachineOf=deeeet-com@%i.service